<h1>
  <%= movieData.Title %> [<%= movieData.Year %>]
</h1>

<img src="<%= movieData.Poster %>"> 

<ul>
<li>
  <strong>released</strong> - 
  <%= movieData.Released %>
</li>
<li>
  <strong>genre</strong> - 
  <%= movieData.Genre %>
</li>
<li>
  <strong>imdb rating</strong> - 
  <%= movieData.imdbRating %> / 10
</li>
<li>
  <strong>actors</strong> - 
  <%= movieData.Actors %>
</li>

<li>
  <strong>plot</strong> -
  <%= movieData.Plot %>
</li>
</ul>

<button>Add to Favorites</button>